

.stop-block {
	grid-column: 7 / span 4;
	margin: 2em 0;
	// margin-top: 0;

	em {
		color: var(--color2);
		float: left;
		font-size: 1.5em;
		font-weight: bold;
		margin: 0 1em 0em 0;
		position: relative;

		&::after {
			// box-shadow: 0px 0px 38px -8px rgba(132, 21, 68, 0.44);
			content: "";
			display: block;
			width: 9.3em;
			height: 6.3em;
			position: absolute;
			top: -0.8em; left: -2em;
			transform: rotate(45deg);
		}
	}

	p:nth-of-type(2) {
		margin-top: 3em;
		text-align: right;
	}
}

.continue-block {
	grid-column: 8 / span 5;
	margin-bottom: 1em;
	text-align: right;

	// span {
	// 	display: block;
	// 	text-align: right;
	// }
}

.section-wrap .inner .main-text.narrative {
	grid-column: 1 / span 9;
}

