.ex-gif {
	height: 200px;
	margin-bottom: 2em;
}

.ex-gif {
	background-blend-mode: hard-light;
	background-color: var(--color1);
	background-position: center;
	// grid-column: 1 / span 3;

	&.a {
		// background-image: url(https://media.giphy.com/media/l41lPnM5LWvUdB6qQ/giphy.gif);
		background-image: url(https://media.giphy.com/media/QtwSqRQzixnXXTFeqA/giphy.gif);
		background-position: 100%;
		// margin-top: 1em;
	}
	&.b {
		// background-image: url(https://media.giphy.com/media/l2YWpJB3n7DL097Z6/giphy.gif);
		background-blend-mode: multiply;
		background-image: url(https://media.giphy.com/media/jlqJieWthmFZSpsHhe/giphy.gif);
		background-size: cover;
		background-position: 35%;
	}
}

.ex-gif.a {
	margin-top: 1em;
}

.ex-svg.a {
	margin-top: 1em;
}

.ex-svg h3 {
	font-family: var(--narrative-font);
	font-size: 1.3em;
}

.together-svg {
	// grid-column: 1 / span 12;
	margin: 2em 0;
	margin-top: 1em;
}

