:root {
	--max-width: 1000px;
	--color1: #e8896b;
	--color2: #dd59f0;

	--main-font: "DM Sans";
	--narrative-font: "DM Serif Display";
	--roles-font: "Roboto";
}

* {
	font-family: var(--main-font), sans-serif;
	font-size: 18px;
}

h2 {
	font-family: var(--narrative-font);
	font-size: 280%;
}

hr {
	margin: 3em 10em;			
}

.section-wrap {
	margin: 4em 0;
	overflow-x: hidden;

	.wrapper {
		// margin-left: 0;
		// max-width: calc(var(--max-width) - (30px * 2));
		// max-width: calc(100% - (30px * 2));
		margin: 0 auto;
		max-width: 1024px;
	}

	.inner {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		// grid-column-gap: 4em;
		grid-column-gap: 2em;
		position: relative;

		h2 {
			// color: var(--color1);
			color: var(--narrative-block-color);
			grid-column: 1 / span 8;
		}
		.main-text {
			grid-column: 1 / span 7;
			position: relative;
		}
		.roles-block {
			grid-column: 1 / span 6;
			// grid-column: 8 / span 5;
		}
	}
}

.main-text.narrative p {
	color: whitesmoke;
	font-family: var(--narrative-font);
	font-size: 1.8em;
	line-height: 1.3;
}

.main-text span {
	color: var(--color1);
}

.main-text .time {
	border: 1px solid grey;
	color: black;
	float: left;
	font-family: var(--roles-font);
	font-size: 0.85em;
	margin-bottom: 2em;
	margin-right: 1em;
	margin-top: 0.4em;
	padding: 0.5em;
	text-align: center;
}

.narrative {
	margin-bottom: 2em;
	padding: 2em 0;
	position: relative;
	z-index: 99;
}

.narrative::before {
	background-color: var(--narrative-block-color);
	content: "";
	display: block;
	margin-left: -999px;
	margin-right: -999px;
	position: absolute;
	top: 0; left: 0;
	width: 9999px; height: 100%;
	z-index: -1;
}

#tarotPick {
	grid-column: 1 / span 7;
}
.cards {
	grid-column: 8 / span 5;

	p.caption, p.caption a {
		font-family: var(--roles-font);
		font-size: 0.8em;
		line-height: 1.3;
	}

	img {
		border: 2px solid #eaeaea;
		float: left;
		margin-bottom: 0.7em;
		margin-right: 1em;
		max-width: 100px;
		padding: 2%;
	}

	div {
		margin-bottom: 1em;
	}

	div::after {
		clear: both;
		content: "";
		display: table;
	}
}

@import
	"preamble",
	"breaking",
	"ritual",
	"unison",
	"score"
;

.page-start {
	// background-color: #668a92;
	background: url(img/swords-render4.png),
		radial-gradient(#668a92 45%, black);
	// background-image: url(img/swords-render2a.png);
	background-position: center;
	background-size: cover;
	height: 100vh;
	margin: 0;
	max-height: 100vh;
	max-width: 100vw;
	position: relative;

	.wrapper { margin: 0; max-width: 100vw; }
	.inner { display: block; }
}

.big-title {
	font-size: 5em;
	font-family: var(--narrative-font);
	line-height: 0.8;
	text-transform: uppercase;

	margin-top: 0.2em;
	width: 25%;
}

.big-title.title-reflect {
	margin-top: 0;
	position: absolute;
	transform: none;
	right: 0; left: auto;
}

.subtitle {
	font-size: 90%;
	letter-spacing: -0.5px;
	margin-left: 0.2em;
}

.main-text h3 {
	color: #bfbfbf;
	float: left;
	font-weight: bold;
	margin-top: 1em; margin-left: -2.5em;
	// position: absolute;
	writing-mode: vertical-rl;
}

.main-text strong {
	// background-color: #448795;
	background-color: #fff394;
	// border-radius: 5px;
	// color: whitesmoke;
	padding: 0.2em 0.3em;
}

.arc-block {
	
	margin: 1.5em 0;
	width: 100%;
	
	p {
		font-family: var(--roles-font);
		font-size: 0.85em;
		margin: 0;
	}
}

.arc-inner {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	padding: 0.7em 0.5em;
	width: 100%;
}

.arc-inner p:not(.start) {
	text-align: right;
}

.arc-gradient {
	background: linear-gradient(to right, black, white);

	.start { color: white; }
}

.arc-text {
	padding-top: 0.3em;
}

.weep {
	// color: black !important;
	// text-shadow: 0px 7px 7px #8e3a3a;
	// text-shadow: 0px 5px 7px #8e3a3a, 0px 9px 5px #aadddd8c;
}
