.roles-block {
	// border: 1px solid var(--color1);
	// box-shadow: 0px 0px 10px -5px rgba(219, 179, 196, 0.93);
	box-shadow: 0px 0px 48px -14px rgba(219, 179, 196, 0.93);
	font-size: 0.9em;
	line-height: 1.4;
	margin-top: 2em;
	padding: 2em;
	// padding-bottom: 0.5em;

	ul {
		margin-bottom: 0;
	}
	ul li {
		list-style-type: none;
		margin-bottom: 1em;
		margin-left: 0em;
		position: relative;

		&::before {
			display: block;
			content: "";
			position: absolute;
			top: 0; left: -2em;
		}

		&:nth-of-type(1)::before { content: "🚗"; }
		&:nth-of-type(2)::before { content: "🔥"; }
		&:nth-of-type(3)::before { content: "🌥"; }
		&:nth-of-type(4)::before { content: "👁️"; }
	}
}