.unison-svg {
	grid-column: 3 / 11;
	margin-top: 2em;
}

@media (max-width: 900px) {
	.section-wrap .inner .main-text,
	.section-wrap .inner .main-text.narrative,
	#tarotPick, .cards { 
		grid-column: 1 / span 12;
	}

	.section-wrap .inner .roles-block {
		grid-column: 2 / span 11;
	}

	.side-cards {
		grid-column: 7 / span 6;
		margin-bottom: 1em;

		.caption {
			text-align: left;
			margin-left: 0;
		}
	}

	.ex-gif {
		grid-column: 1 / span 4;
	}

	.ex-svg {
		grid-column: 5 / 13;
	}

	.break-svg {
		grid-column: 6 / 12;
		margin-bottom: 1em;
	}


}